
body {
  #page_title {
    margin-top: 50px;
  }

  #header_section {
    background-image: url('/images/single_triangle_folding_line.gif');
    background-size: cover;
    height: 600px;
  }

  .features-blue.features-custom {
    background-image: url('../images/mountain-blue-night-gradation-blur-hd-wallpaper.jpg');
    background-size: cover;
    color: white;
  }
  #direct_contact_panel {
    padding: 0;
  }
}
